.generic{
    border: 2px solid black;
    margin: auto;
    padding: 20px;
    /* align-content: center; */
    background-color: cadetblue;
    width: 60%;
    margin-top: 20px;
    border-radius: 5px;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
    /* min-height: 0px; */
    overflow: hidden;
}
